In [1]:
mi_tupla = (2,3,4,5,6)

In [2]:
print(mi_tupla)

(2, 3, 4, 5, 6)

In [3]:
type(mi_tupla)

tuple

INDICES

In [16]:
tupla_dias = ("Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo")

In [20]:
tupla_dias[1] #al indicarle el indice me muestra lo que aloja la tupla en esa posicion

'Martes'

PODEMOS EVALUAR SI UN VALOR EXISTE DENTRO DE LA TUPLA

In [18]:
"Jueves" in tupla_dias #retorna True si existe / False caso contrario

True

In [19]:
"jueves" in tupla_dias #retorna False por que no coincide la sintaxis

False

PODEMOS CONTAR LA CANTIDAD DE VECES QUE SE REPITE UN ELEMENTO EN UNA TUPLA

In [13]:
tupla_dias.count("Sabado")

1

In [14]:
mi_tupla_unitaria = "Semanal", #para que sea una tupla unitaria debo poner como al final

In [15]:
type(mi_tupla_unitaria)

tuple

REBANADO / SLICE

In [21]:
tupla_dias[1:3]

('Martes', 'Miercoles')

MUTABILIDAD

In [22]:
tupla_dias[1] = "martes" # Las tuplas no pueden modificarse

TypeError: 'tuple' object does not support item assignment

EMPAQUETADO DE TUPLAS

In [23]:
x= 10
y = 20
z = 'Persona'

In [24]:
mi_tupla = x, y, z

In [25]:
print(mi_tupla)

(10, 20, 'Persona')

In [26]:
type(mi_tupla) # confirmamos que tenemos una tupla

tuple

DESEMPAQUETADO DE TUPLAS

In [29]:
date = (22, "agosto", 1999)
print(date)

(22, 'agosto', 1999)

In [28]:
type(date)

tuple

In [30]:
uno, dos, tres = date

In [33]:
print(uno)
print(dos)
print(tres)

22
agosto
1999

In [34]:
uno, dos = date # Da error porque tenemos tres valores en la tupla y solo dos variables a asignar

ValueError: too many values to unpack (expected 2)

PUEDO TAMBIEN DESEMPAQUETAR ALGUNOS VALORES DE LA TUPLA INDICANDO EL INDICE

In [38]:
tupla_impares = (1,3,5,7,9)

In [39]:
primero = tupla_impares[0]
cuarto = tupla_impares[3]
quinto = tupla_impares[4]

In [41]:
print(primero)
print(cuarto)
print(quinto)

1
7
9

In [42]:
_,_,_,cuarto, quinto = tupla_impares # de esta forma tambien recupero los elemento que quiero de la tupla

In [43]:
print(cuarto)
print(quinto)

7
9

CONVERTIR TUPLA EN LISTA

In [44]:
lista_impares = list(tupla_impares) # pasamos a lista la tupla para poder manipular los datos

In [45]:
print(lista_impares) #imprimimos

[1, 3, 5, 7, 9]

In [46]:
type(lista_impares) #corroboramos el tipo de lista_impares

list

In [47]:
nueva_tupla = tuple(lista_impares) #creamos una tupla y le asignamos el valor de la lista

In [48]:
print(nueva_tupla) #imprimimos

(1, 3, 5, 7, 9)

In [49]:
type(nueva_tupla) #corroboramos el tipo de nueva_tupla

tuple