Operacion aritmetica de multiplicacion

In [4]:
20*4

80

Podemos sumar una variable a un nro

In [5]:
a = 5

a+12

17

Podemos sumar variables

In [6]:
a=8
b=11
c=3
a+b+c

22

Exponente

In [7]:
5**2 #5 es la base - 2 el exponente

25

In [8]:
b=2
c=3
b**c # 2**3

8

Division con cociente

In [9]:
10/3

3.3333333333333335

Division con parte entera

In [10]:
10 // 3

3

No se puede dividir por cero

In [11]:
20 / 0

ZeroDivisionError: division by zero

Division con variables

In [13]:
dividendo = 21
divisor = 7

In [14]:
dividendo / divisor

3.0

Division con resto

In [15]:
7 % 2 # 7 / 2 = 3 y el resto es 1

1

Nros pares con resto 0

In [16]:
print(6 % 2)
print(12 % 2)
print(448 % 2)

0
0
0

Nros impares con resto 1

In [17]:
print(9%2)
print(15%2)
print(327%2)

1
1
1

OPERADORES RELACIONALES

In [25]:
'mano ' == 'pies'

False

In [23]:
4==2+2

True

In [26]:
4 == '4' #los datos tienen distinto tipo

False

In [27]:
4!= "4" #contrario al operador de igualdad

True

In [28]:
9!= 4+5 #ambos dan 9 por eso no son distintos

False

In [29]:
12>3

True

In [30]:
num1 = 12
num2 = 16

In [31]:
num1<num2

True

OPERADORES DE ASIGNACION

In [38]:
x=50

In [51]:
x+=5
print(x)

55

In [52]:
x-=15
print(x)

40

In [53]:
x = 10

In [54]:
x%=3

In [55]:
print(x)

1

In [58]:
x=10
x**=2

In [59]:
print(x)

100

OPERAR CON STRINGS

In [62]:
"Hola " + "Peter"

'Hola Peter'

In [63]:
"Hola"  + " " + "Peter"

'Hola Peter'

OPERADOR LOGICO AND (ambos deben ser true)

In [65]:
print(True and True)   #True
print(False and True)  #False
print(True and False)  #False
print(False and False) #False

True
False
False
False

OPERADOR LOGICo OR (al menos uno debe ser true)

In [66]:
print(True or True)   #True
print(False or True)  #True
print(True or False)  #True
print(False or False) #False

True
True
True
False

OPERADOR NOT (Invierte False por True y viceversa)

In [67]:
print(not True)  #False
print(not False) #True

False
True

OPERADOR OR EXCLUSIVO (es True si una )

In [73]:
a=bool(1) #True
b=bool(0) #False

In [74]:
print(a^b)

False

In [75]:
a=bool(0) #False
b=bool(0) #False

In [76]:
print(a^b)

False

In [77]:
a=bool(0) #False
b=bool(1) #True

In [78]:
print(a^b)

True

In [79]:
a=bool(1) #True
b=bool(1) #True
print(a^b)

False

In [ ]:
# 1. 'upper()': Convierte todos los caracteres de la cadena a mayúsculas
# 2. 'lower()': Convierte todos los caracteres de la cadena a minúsculas
# 3. 'capitalize()': Convierte el primer carácter de la cadena a mayúscula y el resto a minúsculas
# 4. 'strip()': Elimina los espacios en blanco al inicio y al final de la cadena
# 5. 'split()': Divide la cadena en una lista de subcadenas utilizando un separador
# 6. 'replace()': Reemplaza todas las ocurrencias de una subcadena por otra
# 7. 'startswith()': Verifica si la cadena comienza con una subcadena específica
# 8. 'endswith()': Verifica si la cadena termina con una subcadena específica
# 9. 'find()': Busca la primera ocurrencia de una subcadena en la cadena y devuelve su índice
# 10. 'count()': Devuelve el número de ocurrencias de una subcadena en el string

In [80]:
num = "30"
int(num)
print(num)

30

In [82]:
int("Hola")  #no contiene numero

ValueError: invalid literal for int() with base 10: 'Hola'

Para conservar el cambio se debe de guardar en una nueva variable

In [84]:
num = "8"
type(num)

str

In [86]:
int(num)
print(num)

8

In [87]:
type(num) #Sigue siendo un String - debo asignar el valor a una variable para que guarde el valor

str

In [91]:
num2 = int(num) #asignamos a una nueva variable para conservar el valor original
type(num2) # cambiamos el tipo a num2 mientras que num lo mantiene

int

In [92]:
num = "8.5"

<class 'str'>

In [94]:
num3 = float(num) #convertimos a flotante y guardamos en una nueva variable
print(type(num))
print(type(num3))

<class 'str'>
<class 'float'>

Convertimos un entero a float

In [95]:
num=4
print(type(num))

<class 'int'>

In [97]:
num4 = float(num)
print(type(num4))

<class 'float'>

In [98]:
x=10 #declaramos un entero como variable
print(type(x)) #comprobamos el tipo de dato
y=str(x)
print(type(y)) #comprobamos los tipos de datos

<class 'int'>
<class 'str'>

In [101]:
w=2.2 #declaramos una variable con un dato de tipo float
str1 = str(w) #convertimos a string el valor de w
print(type(w)) #comprobamos el tipo de dato
print(type(str1)) #comprobamos el tipo de dato

<class 'float'>
<class 'str'>

STRING LITERALS EN PYTHON

In [1]:
a = 3.2
b = 2
print(f'Las variables {a} y {b} son del mismo tipo de dato')

Las variables 3.2 y 2 son del mismo tipo de dato