## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 10; 
print(a)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre= "Damian Perez"

5) Crear una variable que contenga un número complejo

In [8]:
nro_complejo = 1.3 - 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(nro_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
var_pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [24]:
var_uno = "True"
var_dos = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [27]:
print("La primer variable es de tipo : " , type(var_uno), ". La restante es de tipo : " , type(var_dos));

La primer variable es de tipo :  <class 'str'> . La restante es de tipo :  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [28]:
suma_de_nros = 3 + 1.5

11) Realizar una operación de suma de números complejos

In [35]:
suma_de_complejos = nro_complejo + 4j
print(suma_de_complejos)

(1.3-3j)

12) Realizar una operación de suma de un número real y otro complejo

In [34]:
suma_real_complejo = nro_complejo + 10
print(suma_real_complejo)

(11.3-7j)

13) Realizar una operación de multiplicación

In [33]:
multiplicar = 10 *4
print(multiplicar)

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [36]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [37]:
cociente = 27 / 4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [38]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [39]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [40]:
resultado = 4 * (27 // 4)  + (27 % 4)
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [43]:
var_alfa1 = "Hola "
var_alfa2 = " Chau"
print(var_alfa1 + var_alfa2)

Hola  Chau

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [47]:
iguales = "2" == 2
print(iguales , ": el tipo de dato no es el mismo")

False : el tipo de dato no es el mismo

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [49]:
iguales = int("2") == 2
print(iguales)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [54]:
a = float('3,8')
print(a , "por la coma que esta despues del 3")

3.8 por la coma que esta despues del 3

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [55]:
variable = 3
variable-= 1
print(variable)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [60]:
print(1 << 4)
print("es un sistema de numeración utilizado para representar números decimales. El sistema binario es de base 2, lo cual quiere decir que dispone solo de 2 números para representar cantidades. El sistema decimal (números comunes) es de base 10")

16
es un sistema de numeración utilizado para representar números decimales. El sistema binario es de base 2, lo cual quiere decir que dispone solo de 2 números para representar cantidades. El sistema decimal (números comunes) es de base 10

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [75]:

sumar =  2 + "2"
print("No se permite porque son de distinto tipo los datos.")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [76]:
sumar_flotantes = float(2) + float("2")
sumar_enteros = int(2) + int("2")
sumar_texto = str(2) + str("2")
print(sumar_flotantes)
print(sumar_enteros)
print(sumar_texto)

4.0
4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [77]:
Multiplicar	='je ' * 3
print(Multiplicar)

je je je